<h1 mat-dialog-title>{{isRegistration ? 'Create new account' : 'Sign in to TodoList'}}</h1>

<form [formGroup]="form">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput type="email"
                   placeholder="Email"
                   formControlName="email"
            />
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password"
                   placeholder="Password"
                   formControlName="password"
            />
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button
                *ngIf="isRegistration"
                [disabled]="!form.valid"
                (click)="onCreate()">
            Create
        </button>

        <button mat-button
                *ngIf="!isRegistration"
                [disabled]="!form.valid"
                (click)="onSignIn()">
            Sign in
        </button>
    </div>
</form>
