@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";
@import "material";

body {
	display: flex;
	height: 100vh;
	margin: 0;
	background: linear-gradient(to right, $dark-blue, $light-blue, rgb(36, 36, 62));
}

todo-root {
	display: block;
	margin: auto;
}

.todo-list {
	width: 500px;
	max-width: 100%;
	min-height: 60px;
	margin: 20px auto;
	background: white;
	border: solid 1px #ccc;
	border-radius: 4px;
	overflow: hidden;
}

todo-item {
	display: block;
}

.todo-item {
	position: relative;
	padding: 20px 10px;
	background: white;
	border-bottom: solid 1px #ccc;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.87);
	cursor: move;
	
	&:last-child {
		border: none;
	}
	
	//.mat-checkbox-checked:before {
	//  position: absolute;
	//  width: 100%;
	//  height: 100%;
	//  left: 0;
	//  top: 0;
	//  content: "";
	//  background: rgba($light-blue, .3);
	//}
}